
.burger-menu {
  display: none;
}


@media screen and (max-width: 1132px) {
  .main-menu {
    display: none;
  }
  .media {
    display: none;
  }

  .header {
    justify-content: space-between;
    padding: 2vw 4vw;
  }

  .header.burger {
    background-color: rgba(0, 0, 0, 0.973);
  }

  .burger-menu {
    display: inline;
    cursor: default;
    border-left: 1.5px solid #fff;
    padding-left: 0.6rem;
  }

  .burger-menu button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
    width: 2.5rem;
  }

  .burger-menu.active .burger-menu-content {
    background-color: rgba(0, 0, 0, 0.973);
    color: #fff;
    opacity: 1;
    transition: all 0.5s ease;
    pointer-events: all;
  }

  .burger-menu-content {
    opacity: 0;
    overflow: scroll;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0000006b;
    padding: 1vh 4vw;
  }

  .burger-menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .burger-menu-item {
    border-bottom: 1px solid #fff;
  }

  .burger-menu-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .burger-menu-item-header a {
    text-decoration: none;
    color: #fff;
  }

  .burger-menu-item-header i {
    padding: 0.5rem .75rem;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
  } 

  .burger-menu-item-header.active i {
    transform: rotate(180deg);
    background-color: rgb(238, 184, 5);
    border-radius: 100px;
  }

  .burger-sub-menu {
    padding-bottom: 0;
  }

  .burger-sub-menu.active {
    padding-bottom: 1rem;
  }

  .burger-sub-menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0 1.5rem;
    gap: 0.6rem;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.7s ease-in-out, opacity 0.7s ease-in-out;
  }
  
  .burger-sub-menu.active ul {
    opacity: 1;
    height: auto;
  }

  .burger-sub-menu ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #fff;
  }

  .burger-sub-menu ul li a img {
    height: 1.5rem;
    filter: invert(1);
  }

  .burger-sub-menu ul li a:active {
    color: #f8cb01;
  }

  .burger-sub-menu ul li a:active img {
    filter: brightness(0) invert(1) sepia(100%) saturate(10000%) hue-rotate(0deg) drop-shadow(0px 0px 6px #f8cb01);
  }

  .burger-menu-contact {
    margin-top: 15rem;
    padding: 0 0 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
  }

  .burger-menu-contact h4 {
    margin-bottom: 1rem;
  }

  .burger-menu-contact-element {
    margin: 0;
    color: #f8cb01;
  }
  
  .burger-menu-contact-element a {
    text-decoration: underline;
    color: #fff;
  }
  
}
