
.burger-menu {
  display: none;
}


@media screen and (max-width: 1132px) {
  .main-menu {
    display: none;
  }
  .media {
    display: none;
  }

  .burger-menu {
    display: inline;
  }

  .burger-menu.active header {
    background-color: black !important;
  }

  .burger-menu-list {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    height: 100vh;
    list-style: none;
    background-color: #0000006b;
    /* animation: slideInFromLeft 0.3s ease-in-out; */
  }
  
}
  