.header-container {
  display: flex;
  justify-content: center;
}

.main-menu {
  display: flex;
  align-items: center;
  position: relative;
}

main {
  pointer-events: auto;
}

.main-menu nav ul {
  display: flex;
}

.menu-item {
  list-style: none;
  margin: 0 15px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #f0f0f0;
}

.menu-item.active {
  background-color: #ddd;
}

.additional-block {
  position: absolute;
  top: 100%;
  left: 0;
  margin-left: calc(30% - 30vw);
  width: 70vw;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.additional-block.block-hovered {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.blurred {
  filter: blur(5px);
  pointer-events: none;
  transition: filter 0.3s ease-in-out;
}

p {
  padding: 200px 30px;
}
